@{
    ViewBag.Title = "AfterLogIN";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using (Html.BeginForm("AfterLogIN", "Home", FormMethod.Post))
{
    <div>

        <img src="~/Content/assets/img/k.jpg" / style="width:100%; height:100%; margin-top:60px;">
   
</div>

}